*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    margin: 10px;
}

button{
    padding: 30px 100px;
    background-color: red;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    border-radius: 30px;
}